@charset "UTF-8";
/*
---------** CREDITS **---------

PALETTE:
https://coolors.co/ddd8c4-a3c9a8-84b59f-69a297-50808e

BACKGROUND:
https://www.transparenttextures.com/
*/

:root {
  /* Color scheme */
  --color0: #69A297; /* Almost White */
  --color1: #50808E; /* Purple */
  --color2: #DDD8C4;
}

body {
  background-color: var(--color0);
  background-image: url("black-twill.png");
}

.article {
  background-color: var(--color1);
  background-image: url("micro-carbon.png");
  width:800px;
  margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
  margin-bottom: 40px;
	box-shadow: black 0px 5px 10px;
  text-align: center;
	font-size: 15px;
	padding-top: 20px;
}

.article p {
	margin: 20px;
	font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
