@charset "UTF-8";
/*
---------** CREDITS **---------

PALETTE:
https://coolors.co/432371-714674-9f6976-cc8b79-fddbc4

BACKGROUND:
https://www.transparenttextures.com/
*/

:root {
  /* Color scheme */
  --background: #714674;
  --font: #FCCFB0;
  --linknv: #B78F98;
  --linkv: #B78F98;
  --linkh: #FEF3EB;
}

body {
  background-color: var(--background);
  background-image: url("skulls.png");
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

hr {
  border-top: 1px solid var(--background);
}

a:link {
  color: var(--linknv);
  text-decoration: none;
}

a:hover {
  color: var(--linkh);
  text-decoration: none;
}

a:visited {
  color: var(--linkv);
  text-decoration: none;
}


.article {
  background-color: black;
  width:600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  box-shadow: black 0px 5px 10px;
  text-align: center;
  font-size: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.article p {
  margin: 20px;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  color: var(--font);
}

.article h1 {
  margin: 20px;
  font-size: 27px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: var(--font);
}

.article h2 { /* h2 are used for hyperlink titles, so no color */
  margin: 20px;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
