@charset "UTF-8";
/*
---------** CREDITS **---------

PALETTE:
https://coolors.co/355070-6d597a-b56576-e56b6f-eaac8b

BACKGROUND:
https://www.transparenttextures.com/
*/

:root {
  /* Color scheme */
  --color0: #355070; /* Almost White */
  --color1: #6D597A; /* Purple */
  --color2: #ECBCFD;
}

body {
  background-color: var(--color0);
  background-image: url("black-twill.png");
}

.article {
  background-color: var(--color1);
  background-image: url("micro-carbon.png");
  width:800px;
  margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
  text-align:center;
	font-size:13px;
	padding-top:20px;
}

.article p {
	margin:20px;
	font-size:13px;
}
